.carousel-item{
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size :cover;
    background-size: cover;
}
.carousel-caption{
    bottom: 25%;
}
.carousel-caption h5{
    font-size: 45px;
    font-family: cursive,merienda ,Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    margin-top: 25px;
    letter-spacing: 2px;
    
}
.carousel-caption p{
    width: 60%;
    margin: auto;
    font-size: 18px;
    font-family: poppins,Arial, Helvetica, sans-serif;
    line-height: 1.9;
    letter-spacing: 2px;
}
.carousel-caption a{
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 30px;
    /* background: #00144b; */
    color: #fff;
    margin-top: 15px;
}
.navbar-nav a{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
}
.navbar-light .navbar-brand{
    /* color: white; */
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;

}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: black;
}
.navbar-light .navbar-nav .nav-link{
    color: black;
}
